@use '../../../assets/scss/variables' as *;

.main-header {
  background-color: $primary;
  // background-color: $custom-light;

  .nav-link {
    color: $light;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: $light-dark;
    }
  }

  i {
    color: $light;
    cursor: pointer;

    &:hover {
      color: $light-dark;
    }
  }
}

.logo-container {
  height: 20px;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 900%;
  width: auto;
}
