<header
  class="main-header border-bottom bg-white shadow-sm px-4 py-3 d-flex justify-content-between align-items-center">
  <!-- Logo clickeable que lleva a la home -->
  <a class="d-flex align-items-center text-decoration-none" routerLink="/">
    <img src="assets/images/Batman.jpg" alt="Óptica Logo" height="40" class="me-2">
    <span class="fw-bold fs-4 text-dark">Oh My Glasses</span>
  </a>

  <!-- Menú de navegación -->
  <nav class="d-none d-md-flex gap-4">
    <a class="nav-link px-2 text-dark fw-medium" routerLink="/hombres">Hombres</a>
    <a class="nav-link px-2 text-dark fw-medium" routerLink="/mujeres">Mujeres</a>
    <a class="nav-link px-2 text-dark fw-medium" routerLink="/ninos">Niños</a>
    <a class="nav-link px-2 text-dark fw-medium" routerLink="/lentes-de-sol">Lentes de Sol</a>
    <a class="nav-link px-2 text-dark fw-medium" routerLink="/accesorios">Accesorios</a>
  </nav>

  <!-- Íconos -->
  <!-- <div class="d-flex align-items-center gap-3 fs-5 text-dark">
    <i class="bi bi-search"></i>
    <i class="bi bi-person"></i>
    <i class="bi bi-cart"></i>
  </div> -->
</header>