@use '../../../assets/scss/variables' as *;

.category-page {
  background: linear-gradient(to bottom, $light 0%, #fff 100%);
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
